.chat-page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.chat-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  max-width: 24rem;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;

}

.chat-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  border-bottom: 1px solid #ccc;
  
}

.chat-logo-placeholder {
  width: fit-content;
  height: fit-content;
}

.chat-messages {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: #f0f0f0;
}

.chat-msg-block {
  display: flex;
  padding: 16px 16px;
}

.chat-msg-meta {
  margin: 0;
}

.chat-msg-block-user {
display: flex;
justify-content: flex-end;
}

.chat-msg-block-system {
  display: flex;
  justify-content: flex-start;
}

.chat-bubble-system {
  max-width: 194px;
  padding: 8px 16px 8px 10px;
  border: none;
  border-radius: 16px;
  background-color: #F1F2EE;
  white-space: pre-wrap;
  word-break: break-word; 
  overflow-wrap: anywhere;
  delay: 800ms;

}

.chat-bubble-user {
  max-width: 194px;
  padding: 8px 16px 8px 10px;
  border: none;
  border-radius: 16px;
  background-color: #0111A1;
  color: #fff;
  white-space: pre-wrap;
  word-break: break-word; 
  overflow-wrap: anywhere;
}


.chat-quick-reply {
  display: flex;
  width: fit-content;
  padding: 8px  12px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-family: manrope;

}

.chat-user-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-container {
  padding: 16px 16px;
  background-color: #ffff;
  border-radius: 8px 8px;
}

.chat-composer {
  padding: 8px 8px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  
}

.chat-input {
  display: flex;
  flex: 1;
  color: #000000;
  font-family: manrope;
  font-size: 14px;
  font-weight: 400;
  padding-right: 8px;
  border: none;
  outline: none;
  
  }




.chat-send {
  display: flex;
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  outline: none;
  
}
